<!DOCTYPE html>
<html lang="en-US">
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Ionicons for UI -->
    <script src="https://unpkg.com/ionicons@4.4.7/dist/ionicons.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    
</header>

<body>

    <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#diagnoser">Diagnoser</a>
            </li>
        </ul>
      
      <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active mt-5" id="home" >
                <div class="card bg-primary text-light">
                    <p class="display-4">
                        <ion-icon name="medical"></ion-icon>
                        Tugas Besar 2 IF3170 - Heart Disease Diagnoser
                    </p>
                </div>
                <div class="container-fluid mt-5">
                    <h4>By kelompok 
                        <span style="display:inline;color:yellow; background-color:red;">
                            Budak-McD
                        </span>
                        <span style="color:red;background-color: yellow">
                            I'm lovin it!
                        </span>
                    </h4>
                    <hr>
                    <h5>Anggota Kelompok</h5>
                    <ul>
                        <li>Renjira Naufhal Dhiaegana       - 13516014</li>
                        <li>M. Nurraihan Naufal             - 13516017</li>
                        <li>Yuly Haruka Berliana Gunawan    - 13516031</li>
                        <li>Raka Hadhyana                   - 13516099</li>
                        <li>Naufal Putra Pamungkas          - 13516110</li>
                    </ul>
                    <hr>
                    <h5>Deskripsi Tugas</h5>
                    <p>
                        Mahasiswa diminta untuk membangun aplikasi berbasis web yang dapat memberikan prediksi
                        penyakit jantung berdasarkan data medis dengan menggunakan teknik pembelajaran mesin. Aplikasi
                        yang dibuat harus dapat menerima masukan berupa semua atribut pada dataset. Silahkan baca
                        tubes2_HeartDisease_train.csv dan tubes2_HeartDisease_test.csv untuk informasi detilnya.
                        Selanjutnya, sistem akan memberikan hasil prediksi berupa angka 0-4 yang merepresentasikan kategori
                        dari penyakit jantung tersebut (0=false, 1-4=true untuk penyakit jantung). Pelaksanaan tugas ini akan
                        dilakukan dalam 2 tahap yaitu eksperimen dan pengembangan aplikasi web.
                    </p>
                    <hr>
                    <h5>How To Use</h5>
                    <p>
                        Kasih penjelasan disini ye
                    </p>
                </div> 
            </div>

            <div class="tab-pane container fade mt-5" id="diagnoser">
                <div class="container-fluid"  ng-app="">
                    <p class="display-4 pb-5">
                        Fill out patient's info here!
                    </p>

                    <form ng-app="" id="inform" method="POST" action="http://localhost:5000/result">
                        <div class="form-group">
                            <label for="info">Age:</label>
                            <input type="text" class="form-control" name="age" id="age" ng-model="age">
                        </div>
                        <div class="form-group">
                            <label for="info">Sex:</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="sex" value="1">male
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="sex" value="0">female
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Chest-pain Type:</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="cpt" value="1">typical angina
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="cpt" value="2">atypical angina
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="cpt" value="3">non-anginal pain
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="cpt" value="4">asymptotic
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rbp">Resting blood pressure:</label>
                            <input type="text" class="form-control" id="rbp" name="rbp">
                        </div>
                        <div class="form-group">
                            <label for="sc">Serum cholesterol:</label>
                            <input type="text" class="form-control" id="sc" name="sc">
                        </div>
                        <div class="form-group">
                            <label for="info">Fasting blood sugar > 120mg/dl:</label>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="fbs" value="1">true
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="fbs" value="0">false
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recg">Resting ECG:</label>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="re" value="0">normal
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="re" value="1">having ST-T wave abnormality
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="re" value="2">left ventricular hyperthropy
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="info">Max-heart rate achieved:</label>
                            <input type="text" class="form-control" name="mhra" id="mhra">
                        </div>
                        <div class="form-group">
                            <label for="info">Exercise induced angina:</label>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="eia" value="1">yes
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="eia" value="0">no
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="info">ST depression:</label>
                            <input type="text" class="form-control" id="std" name="std">
                        </div>
                        <div class="form-group">
                            <label for="info">Peak exercise ST segment:</label>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pess" value="1">upsloping
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pess" value="2">flat
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="pess" value="3">downsloping
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="info">N major vessels colored by flourosopy:</label>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="mvcf" value="0">0
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="mvcf" value="1">1
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="mvcf" value="2">2
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="mvcf" value="3">3
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="info">Thal:</label>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="thal" value="3">normal
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="thal" value="6">fixed defect
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="thal" value="7">reversable effect
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="submitForm()">Diagnose Heart</button>
                    </form>
                    <p id="invalues"></p>
                </div>            
            </div>
        
        </div>

</body>
<script>
    function submitForm(){
        var patient_age = $("#age").val();
        var patient_sex = $("input[name='sex']:checked").val();
        var patient_cpt = $("input[name='cpt']:checked").val();
        var patient_rbp = $("#rbp").val();
        var patient_sc = $("#sc").val();
        var patient_fbs = $("input[name='fbs']:checked").val();
        var patient_re = $("input[name='re']:checked").val();
        var patient_mhra = $("#mhra").val();
        var patient_eia = $("input[name='eia']:checked").val();
        var patient_std = $("#std").val();
        var patient_pess = $("input[name='pess']:checked").val();
        var patient_mvcf = $("input[name='mvcf']:checked").val();
        var patient_thal = $("input[name='thal']:checked").val();
        
        //diagnose here (use flask and python)

        console.log(patient_age);
        console.log(patient_sex);
        console.log(patient_cpt);
        console.log(patient_rbp);
        console.log(patient_sc);
        console.log(patient_fbs);
        console.log(patient_re);
        console.log(patient_mhra);
        console.log(patient_eia);
        console.log(patient_std);
        console.log(patient_pess);
        console.log(patient_mvcf);
        console.log(patient_thal);
                 
        // passing data through json file
        // var json = { age: patient_age, 
        //              sex : patient_sex,
        //              cpt : patient_cpt,
        //              rbp : patient_rbp,
        //              sc : patient_sc,
        //              fbs : patient_fbs,
        //              re : patient_re,
        //              mhra :patient_mhra,
        //              eia : patient_eia,
        //              std : patient_eia,
        //              pess : patient_pess,
        //              mvcf : patient_mvcf,
        //              thal : patient_thal};
        
        // var myJSON = JSON.stringify(json);

        // var jsonfile = require('jsonfile');
        // var file = 'data.json';

        // jsonfile.writeFile(file, myJSON, { spaces: 2 }, function (err) {
        //     if (err) console.error(err)
        // });

    }
</script>

</html>